{{!< default}}

{{#post}}
 <!-- Subheader Area
        ===================================== -->
        <div class="bg-black color-light">
        <header class="bg-grad-stellar" {{#if feature_image}}style="background: url({{feature_image}}) 95% 100% no-repeat #000 ; background-size: cover; background-attachment:fixed; "{{/if}}>

            <div class="container" >
                <div class="row mt20 mb30">
                    <div class="col-md-6 text-left">
                        <h3 class="color-light text-uppercase animated" data-animation="fadeInUp" data-animation-delay="100">{{title}} </h3>
                    </div>
                </div>
            </div>
        </header>
 <!-- Blog Area
        ===================================== -->
        <section id="blog" class="pt75 pb50">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div class="blog-three-mini">
                            <h2 class="color-dark"><a href="#">{{#if custom_excerpt}}{{custom_excerpt}}{{/if}}</a></h2>
                            <div class="blog-three-attrib">
                                <div><i class="fa fa-calendar"></i><time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></div> | 
                                <div><i class="fa fa-pencil"></i>Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}</div> | 
                               {{>share}}
                            </div>

                            
                           




<div class="color-white">
    {{content}}
</div>

                           
                            
                            <div class="blog-post-read-tag mt50">
                                <i class="fa fa-tags"></i> Tags: {{tags}}
                            </div>
                            
                        </div>
                        </div>

<aside>
<div class="row mt35 animated" data-animation="fadeInUp" data-animation-delay="800">
    <div class="col-md-6">
    {{#prev_post}}<a href="{{url}}" class="button button-dark button-sm pull-right">Prev</a>{{/prev_post}}
    </div>
    <div class="col-md-6">
        {{#next_post}}<a href="{{url}}" class="button button-dark button-sm pull-left">Next</a>{{/next_post}}
    </div>
</div>
</aside> 

{{/post}}
