<!-- Portfolio Area
        ===================================== -->
<div id="portfolioGrid" class="bg-black">
    <div class="pt50">&nbsp;</div>
    <div class="container pb75">
        <div class="row">
            <div class="col-md-12">
                <ul class="filters text-center  mt25 mb50">
                    <li><a class="active" data-filter=".Design">Design</a></li>
                    <li><a class="" data-filter=".Develop">Develop</a></li>
                    <li><a class="" data-filter=".Deploy">Deploy</a></li>
                    {{!-- <li><a class="" data-filter=".web">Web</a></li>
                    <li><a class="" data-filter=".product">Product</a></li>
                    <li><a class="" data-filter=".motion">Motion</a></li>
                    <li><a class="" data-filter=".joomla">Shopify</a></li> --}}
                </ul>

                <div class="portfolio center-block">

                    {{#foreach posts}}
                    <div class="portfolio-item col-md-4 col-sm-4 col-xs-4 {{tags autolink="false"}}" data-category="">
                        <a href="{{#if feature_image}}{{feature_image}}{{else}}{{@blog.cover_image}}{{/if}}"
                            class="magnific-popup">
                            <span class="glyphicon glyphicon-search hover-bounce-out"></span>
                        </a>
                        <img src="{{#if feature_image}}{{feature_image}}{{else}}{{@blog.cover_image}}{{/if}}"
                            class="img-responsive">
                    </div>
                    {{/foreach}}

                </div>
            </div>
        </div>
    </div>
</div>