<div class="visual">
	<div class="max-container" style="margin-bottom: 20%;">
		<div class="slideshow" id="main-slider">
			{{#foreach posts}}
			{{#if featured}}
			<div class="slide">

				<div class="caption">
					<div class="text">
						<h1><a href="{{url}}"><span class="add">{{title}} </span></a></h1>
					</div>
				</div>

		<span class="box"></span>
				<span class="box" style="max-height: 1000vh">
					<div class="image">

						<img src="{{feature_image}}" alt="{{title}}" />
					</div>
				</span>
		

				<div class="caption">

					<div class="text" style="background-color: #38003d;">
						<span class="txt">{{excerpt words="20"}}</span>
						<div class="gh-post-authors" style="margin: 16px;">
							Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a> {{/foreach}}
							<span class="gh-post-meta"><time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM
									YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
						</div>
						
					</div>
				</div>
			</div>
			{{/if}}
			{{/foreach}}
		</div>
	</div>
</div>