<div>
    Share: <a href="https://www.facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}"><i
            class="fa fa-facebook-official"></i></a>
    <a href="https://twitter.com/intent/tweet?url={{@site.url}}{{url}}&text="><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{@site.url}}{{url}}"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="https://pinterest.com/pin/create/button/?url={{@site.url}}{{url}}&media=&description="><i
            class="fa fa-pinterest"></i></a>
</div>